.container {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  align-items: center;
  font-weight: bold;
  width: fit-content;
  height: 1em;
  direction: ltr;
  color: inherit;
  font-size: inherit;
}

.lineThrough.container {
  text-decoration: line-through;
  color: var(--black-5)
}

.container .riyalSymbol {
  height: 65%;
  color: inherit;
}

.container .price {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.container .price .decimal {
  /* color: red; */
  font-size: 0.6em;
  margin-bottom: 0.3em;
}