.root {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.2em;
  width: 15em;
  height: 5em;
}


.root .label {
  font-size: 1.1em;
  color: var(--black-3);
  transition: var(--transition);
}


.root .input {
  outline: none;
  resize: none;
  min-width: none;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.3em 0.4em;
  height: 100%;
  width: 100%;

  border-radius: var(--border-radius-1);
  border: 0.1em solid var(--white-4);
  caret-color: var(--primary-3);
  transition: var(--transition);
  background-color: var(--cold-white-2);
  border-color: var(--white-4);
  outline: 0.2em solid transparent;
  padding-bottom: 1em;
}

.root .input:not(:placeholder-shown) {
  background-color: white;
}

.root .input:focus {
  outline: 0.2em solid color-mix(in srgb, var(--primary-4), transparent 80%);
  border-color: var(--primary-4);
  background-color: white;
}

.root:has(.input:focus) .label {
  color: var(--primary-2);
}

.root.required .label::after {
  content: '*';
  margin-left: 0.2em;
  color: var(--color-red-3);
}

.root.negative .input {
  border-color: var(--color-red-4);
}

.root.negative .input:focus {
  border-color: var(--color-red-4);
  outline-color: var(--color-red-1)
}

.root .message {
  margin-top: 0.2em;
  font-size: 0.75em;
}

.root.negative .message {
  color: var(--color-red-4);
}

.root.required .input::after {
  content: "*";
}

.root .inputWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.root .inputWrapper .counter {
  position: absolute;
  bottom: 0.25em;
  right: 1em;
}

.arabic.root .inputWrapper .counter {
  position: absolute;
  bottom: 0.25em;
  right: auto;
  left: 1em;
  font-size: 0.8em;
}

/* .arabic.root .inputWrapper .counter+textarea {
  padding-bottom: 1em;
} */