.root {
  display: flex;
  flex-direction: column;
  background-color: white;
  direction: rtl;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 25em;
  font-size: 1.2em;
}

.root .contentInput {
  height: 10em;
}

.root>* {
  width: 100% !important;
}

.root .inputStars {
  font-size: 1em;
}

.root .submitButton {
  font-size: 1.1em;
}