/* Import from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;600&display=swap");
.container {
  display: flex;
  flex-direction: column;
}

.container {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1rem solid black;
}

.container .buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}
.container a {
  display: flex;
  flex-direction: row;
}
.container .buttons img {
  height: 1.5rem;
  filter: invert();
  opacity: 1;
  transition: var(--transition);
  rotate: 0;
}
.container .buttons img:hover {
  height: 1.5rem;
  opacity: 0.75;
  rotate: 5deg;
}

.container .logo {
  height: 3rem;
}
.container .logo img {
  height: 100%;
}
.categories {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.categories p {
  margin: 0;
}
