.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  justify-self: center;
  padding: 3rem 0;
  width: 20rem;
}
.page > div {
  width: 100% !important;
}
.page .name {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
