.container {
  display: flex;
  flex-direction: row;
  /* padding: 1em; */
  gap: 1em;
  background-color: white;
  /* border-radius: var(--border-radius-2); */
}

.container .imageWrapper {
  width: 35%;
  overflow: hidden;
  border-radius: var(--border-radius)
}

.container .imageWrapper img {
  width: 100%;
}

.container .details {
  width: 50%;
}

.details .title {
  font-weight: bold;
  font-size: 2em;
}

.details .price {
  margin-top: 0.5em;
  font-size: 2em;
}

.details .priceContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1em;
}

.details .stars {
  margin-top: 0.75em;
}

.details .description {
  margin-top: 1em;
}

.details .quantity {
  margin-top: 1em;
  width: 6em;
}

.details .addToCartButton {}

.details .actionButtons {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  height: 2.5em;
  align-items: center;
  gap: 1em;
  width: fit-content;
  box-sizing: border-box;

}

.details .actionButtons>* {
  height: 100%;
  border-radius: var(--border-radius-pill);
  padding: 0 1.5em;
  box-sizing: border-box;
}

.details .actionButtons .addReviewButton {
  box-shadow: var(--shadow-1)
}