.page {
  display: flex;
  flex-direction: column;
  background-color: beige;
  height: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  background-color: var(--white-1);
  direction: rtl;
  overflow: hidden;
  border: var(--border-line-2);
  border-radius: var(--border-radius-2);
  height: 26em;
}

.root .header {
  background-color: var(--white-light-2);
  font-weight: bold;
  color: var(--black-3);
  border-bottom: var(--border-line-2)
}

.root .header,
.root .item {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);

  padding: 1em 2em;
  box-sizing: border-box;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

.items .item {
  border-top: var(--border-line-2)
}

.items .item:first-child {
  border: none;
}

.items .item .product {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding-left: 0.5em;
}

.items .item .product .imageWrapper {
  display: flex;
  height: 2rem;
  width: 2rem;
  border-radius: var(--border-radius-1);
  overflow: hidden;
  flex-shrink: 0;
}

.items .item .product img {
  height: 100%;
}

.items .item .product .title {
  color: var(--black-1);
  cursor: pointer;
  text-decoration: none;
}

.items .item .product .title:hover {
  color: var(--primary-2);
  text-decoration: underline;
  /* font-weight: bold; */
}

.price,
.total {
  color: var(--black-2)
}

.pagination {
  border-top: var(--border-line-2)
}