.root {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  border-radius: var(--border-radius-2);
  border: var(--border-line-2);
  box-shadow: var(--shadow-1);
  --icon-color: var(--primary-4);
  gap: 0.75em;
}

.root .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.root .header .title {
  font-weight: bold;
  color: var(--black-3);
  font-size: 1.1em;
}

.root .icon {
  height: 1.5em;
  color: var(--icon-color);
}