.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.mouseHover .title {
  color: var(--primary-4);
}
.arrow {
  height: 1.2rem;
  width: 1.2rem;
  transition:
    transform 0.4s ease,
    color 0.4s ease;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  /* Initial color of the SVG */
  color: #333;
}
.mouseHover .arrow {
  transform: rotateX(180deg);
  /* This now works because the SVG uses currentColor */
  color: var(--primary-4);
}

.items {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--primary-4);
  top: 100%;
  right: 0;
  z-index: 10;
  min-width: 120px;
  direction: rtl;
}

.item {
  padding: 0.5rem 1rem;
  margin: 0;
  color: white;
  transition: background 0.2s;
}

.item:hover {
  background-color: var(--primary-6);
}
