/* Import from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;600&display=swap");

.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.container {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 0.075rem solid;
  border-image: linear-gradient(to right,
      var(--primary-9) 0%,
      var(--primary-7) 25%,
      /* Starts being the pure color here */
      var(--primary-7) 75%,
      /* Stays the pure color until here */
      var(--primary-9) 100%) 1;
}

.container .buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.container a {
  display: flex;
  flex-direction: row;
}

.container .buttons img {
  height: 1.5rem;
  filter: invert();
  opacity: 1;
  transition: var(--transition);
  rotate: 0;
  cursor: pointer;
}

.container .buttons img:hover {
  height: 1.5rem;
  opacity: 0.75;
  rotate: 5deg;
}

.container .logo {
  height: 3rem;
  cursor: pointer;
}

.container .logo img {
  height: 100%;

}

.categories {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.categories p {
  margin: 0;
}

.accountWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

/* .accountWrapper:hover .name {
  font-size: 0.55em;
} */

.name {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.5em;
  margin-top: -0.3em;
  z-index: 10;
  padding: 0.2em 0.8em;
  border-radius: var(--border-radius-pill);
  /* transition: var(--transition); */
  font-weight: bold;
  /* background-color: var(--primary-4);
  color: white; */
}

.container .buttons a {
  height: 1.5em;
}

.container .buttons svg,
.container .buttons p {
  /* transition: color 150ms ease-in-out; */
}

.container .buttons svg {
  height: 1.5em;
  color: inherit;
  cursor: pointer;
  /* color: red;
  background-color: aqua; */
}

.container .buttons a {
  color: black;
}

.container .buttons a:hover,
.container .buttons svg:hover {
  color: var(--primary-3);
}

.container .cartWrapper {
  position: relative;
}

.container .cartWrapper .count {
  position: absolute;
  background-color: var(--primary-4);
  font-weight: bold;
  color: white;
  padding: 0.1em 0.3em;
  border-radius: 50%;
  top: -0.2em;
  right: -0.7em;
  font-size: 0.5em;
  min-width: 1.1em;
  text-align: center;
}