/* Import from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;600&display=swap");

.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.container {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 0.075rem solid;
  border-image: linear-gradient(to right,
      var(--primary-9) 0%,
      var(--primary-7) 25%,
      /* Starts being the pure color here */
      var(--primary-7) 75%,
      /* Stays the pure color until here */
      var(--primary-9) 100%) 1;
}

.container .buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.container a {
  display: flex;
  flex-direction: row;
}

.container .buttons img {
  height: 1.5rem;
  filter: invert();
  opacity: 1;
  transition: var(--transition);
  rotate: 0;
  cursor: pointer;
}

.container .buttons img:hover {
  height: 1.5rem;
  opacity: 0.75;
  rotate: 5deg;
}

.container .logo {
  height: 3rem;
  cursor: pointer;
}

.container .logo img {
  height: 100%;

}

.categories {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.categories p {
  margin: 0;
}