.root {
  display: flex;
  flex-direction: column;
  direction: rtl;
  height: 100vh;
  background-color: var(--white-light-2)
}

.root .mainContainer {
  display: flex;
  height: inherit;
  flex-direction: row;
}

.root .mainContainer .sideBar {
  flex-shrink: 0;
  flex-grow: 0;
}

.root .mainContainer .contentBody {
  flex-grow: 1;
}