.root {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.2em;
}

.root .label {
  font-size: 1.1em;
  color: var(--black-3);
  transition: var(--transition);
}

.root:has(.input:focus) .label {
  color: var(--primary-2);
}

.root .input {
  border-radius: var(--border-radius-1);
  border: 0.08em solid var(--white-4);
  outline: none;
  font-size: 1em;
  padding: 0.3em 0.4em;
  caret-color: var(--primary-3);
  min-width: none;
  transition: var(--transition);
  outline: 0.16em solid transparent;
  box-sizing: border-box;
  height: 2.3em;
  width: inherit;
}

.root.required .label::after {
  content: '*';
  margin-left: 0.2em;
  color: var(--color-red-3);
}

.root.negative .input {
  border-color: var(--color-red-4);
}

.root.negative .input:focus {
  border-color: var(--color-red-4);
  outline-color: var(--color-red-1)
}

.root .message {
  margin-top: 0.2em;
  font-size: 0.75em;
}

.root.negative .message {
  color: var(--color-red-4);
}

.root.required .input::after {
  content: "*";
}

.root .input:focus {
  /* outline: 0.08em solid var(--primary-4);
  border-color: var(--primary-4); */
  outline: 0.16em solid color-mix(in srgb, var(--primary-4), transparent 80%);
  border-color: var(--primary-4);
}