@import "open-props/colors";
.messages {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1rem;
  padding: 1rem;
  top: 0;
  right: 0;
}
.message {
  display: flex;
  flex-direction: column;
  top: 1rem;
  right: 1rem;
  max-width: 20rem;
  background-color: var(--neutral-7);
  border-radius: var(--border-radius);
  padding: 1rem;
  transition: var(--transition);
}

.message.success {
  background-color: var(--green-1);
}
.message.error {
  background-color: var(--red-1);
}

.message .title {
  font-weight: bold;
}
